@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap);

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    /*background: #53131e;*/
}

#particles {
    z-index: 4;
    height: 100%;
    height: 100vh;
    background: #53131e;
}

.container {
    position: relative;
  }

.container img {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: auto;
    opacity: 1;
}

h1 {
    
    font-family: "Roboto Mono", monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.nath {
    display: table;
    width: 100%;
    vertical-align: bottom;
    margin: 5rem 0 5rem;
    text-align: center;
    background: #53131e;
    color: #ffffff;
    font: 100 2vh/2 Roboto;
}

.nath a {
    color: #cccccc;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
}