/* pa comentar -> shift + alt + a */
/*@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap);*/
@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap);

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: ".Figtree", sans-serif;
}

/* h1, h2, h3, h4 {
    color: hsl(215, 8%, 15%);
    font-weight: 700;
} */

.header {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
}

/* Sections */
section .home{
    min-height: 100vh;
}


/*NavBar*/
a {
    text-decoration: none;
    font-family: ".Figtree", sans-serif;
    font-weight: bold;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 16px 18px;

}

.navBar {
    width: 100%;
    height: 60px;
    display: flex;
    top: 0;
    overflow: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(15px);
    background-color: rgba(27, 4, 8, 0);
    transition: background-color 0.5s ease;
}

.nav__list {
    list-style: none;
    padding: 0;
}

.nav_item:hover {
    background-color: rgba(27, 4, 8, 0.8);
    border-radius: 1rem;
}

.navBar li {
    margin: 0 10px;
    display: block;
}

.nav__list {
    display: flex;
    gap: 2rem;
}

/* Home */

.cont {
    position: relative;
}

.cont img {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
    opacity: 1;
    pointer-events: none;
}

#empresaNom {
    font-family: "Merriweather", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    user-select: none;
}

#particles {
    z-index: 2;
    height: 100%;
    height: 100vh;
    background: #2a070d;
}

/* scroll down Home -> About */

/* About */
section .about{
    min-height: 800px;
    justify-content: center;
}

span {
    color: #53131e;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2ddc8;
}

.about-img img {
    width: 350px;
    border-radius: .5rem;
    margin: 3.5rem;
    justify-self: center;
    align-self: center;
}

.heading {
    font-size: 40px;
    text-align: center;
}

.about-content {
    width: 600px;
    margin: 2rem;
    margin-top: -2px;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 20px;
    color: #2a070d;
}

.about-content p{
    margin: 2rem 0 2rem;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    
}

/* read more button */
.btn {
    background-color: #53131e;
    border: none;
    border-radius: .5rem;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    text-align: center;
    font-size: 12px;
    margin: 5px 2px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background-color: #2a070d;
    color: #fff;
    opacity: 1;
}

/* Footer */
footer {
    margin-top: auto;
    background-color: #2a070d;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: ".Figtree", sans-serif;
}

.footerStyle {
    display: table;
    width: 100%;
    vertical-align: bottom;
    margin: 1rem 0 1rem;
    text-align: center;
    color: #ffffff;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
}

.linkPerf {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    /* border-bottom: 0.05px solid #ffffff; */
    /*  ->Por si quieres subrayar una palabra/oracion/enlace */
}

.linkPerf :hover {
    color: #ffffff;
}