@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap);


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: ".Figtree", sans-serif;
}

.header {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
    user-select: none;
}

/* Sections */
section {
    margin-top: 60px;
    /* To avoid content overlay */
    min-height: 100vh;
    background-color: #f7f3e3;
}

/*NavBar*/
a {
    text-decoration: none;
    font-family: ".Figtree", sans-serif;
    font-weight: bold;
    /* padding: 5px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 16px 18px;

}

.navBar {
    width: 100%;
    height: 60px;
    display: flex;
    overflow: hidden;
    top: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #53131e;
}

.nav__list {
    list-style: none;
    padding: 0;
}

.nav_item:hover {
    /* background-color: rgba(42, 7, 13, 0.8); */
    background-color: #2a070d;
    border-radius: 0.5rem;
}

.navBar li {
    margin: 0 10px;
    display: block;
}

.nav__list {
    display: flex;
    gap: 2rem;
}

/* Tables */
table {
    /* border-collapse: collapse; */
    border: 2px solid #f7f3e3;
    border-radius: 10px;
    user-select: none;
}

h1 {
    /* font-family: "Merriweather", serif; */
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #2a070d;
    text-align: center;
    user-select: none;
}

h2,
h3 {
    color: #53131e;
    user-select: none;
}

h3 {
    text-align: center;
    padding: 20px;
}

.centerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
}

.formDetails {
    background-color: #dfcebe;
    padding: 20px;
    border-radius: 5px;
    user-select: none;
}

label,
input,
select,
button {
    margin-bottom: 15px;
    /* Add vertical spacing between elements */
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #53131e;
}

input:focus {
    outline: none;
    border-color: #dfcebe;
}

select {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.btn-container {
    display: flex;
    justify-content: center;
    user-select: none;
}

.btn {
    display: inline-block;
    margin-right: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #a9927d;
    padding: 20px;
    text-align: center;
}

td {
    text-align: center;
    padding: 15px;
    background-color: #dfcebe;
}

td a {
    color: #53131e;
    text-decoration: none;
    padding: 8px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn {
    background-color: #5e503f;
    /* #a9927d */
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    text-align: center;
    font-size: 12px;
    margin: 2px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

.btn:hover {
    background-color: #2a070d;
    color: #fff;
    opacity: 1;
}

label {
    color: #53131e;
    font-weight: bold;
}

p {
    color: #ffffff;
}

h3 {
    color: #53131e;
}

input,
select {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 300px;
}


/* Footer */
footer {
    font-size: 12px;
    margin-top: auto;
    background-color: #53131e;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: ".Figtree", sans-serif;
    user-select: none;
}

.footerStyle {
    display: table;
    width: 100%;
    vertical-align: bottom;
    margin: 1rem 0 1rem;
    text-align: center;
    color: #ffffff;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
}

.linkPerf {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 0.1px solid #ffffff;
}

.linkPerf :hover {
    color: #dfcebe;
}